<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= t('mailer.hello') %> <%= @user.full_name %>
        <%= @organization.name %> <%= t('mailer.canceled') %> <%= t('mailer.the_f') %> <%= t('mailer.donation_model') %> <%= t('mailer.for') %> <%= link_to @wish_item.title, organization_wish_item_url(@wish_item.organization.slug, @wish_item.slug) %>.
       <%=  t('mailer.you_can_contact') %> <%= @organization.name %> <%= t('mailer.writing_to') %> <%= @organization.email %>
      <p><%= t('mailer.have_great_day')%></p>
    </p>
  </body>
</html>