<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= t('mailer.hello') %> <%= @user.full_name %>
        <%= t('mailer.thank_you') %> <%= t('mailer.for') %> <%= t('mailer.the_f') %> <%= t('mailer.donation_model') %> <%= t('mailer.for') %> <%= link_to @wish_item.title, organization_wish_item_url(@wish_item.organization.id, @wish_item.id) %>.
        <%= @organization.name %> <%= t('mailer.will_be_notified') %>.
      <p><%= t('mailer.have_great_day')%></p>
    </p>
  </body>
</html>